body{
    background-color: rgb(150,180,255);
    width: 90%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 200px;
}
.surveyform{
    border-top: 1px transparent;
    border-left: 1px transparent;
    border-right: 1px transparent;
    border-radius: 3px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: sans-serif;
    line-height: 1.7em;
    margin: auto;
    width:95%;
    text-align: center;
    padding-bottom: 200px;
}

h1{
    text-align: center;
    font-family: sans-serif;
    text-decoration: bold;

}

.surveyform input{
color: gray;
padding: 1px;
border-color: 1px grey; 
}

.surveyform .dropdown .radio .checkbox {
color: grey;
padding: 3px;
border-color: 1px grey;
}
.ans{
text-align: left;
padding-left: 20px;
width: 300px;
}
.ques{
    text-align: right;
    width: 300px;
}

.tab{
    width:95%;
    height: 450px;
    line-height: 2em;
}
.text{
    width:200px;
}
.dropdown1{
    width: 200px;
}
.ques7 .ques5{
    padding-top: 30px;
}
.ques6{
    padding-bottom: 30px;
}

input{
    color:#fff;
}

.submit{
border : 3px;
border-color:  rgb(150,180,255);
border-radius: 3em;
font-size: larger;
margin-top: 50px;
margin-bottom: -40px;
padding: 10px 30px;
}

.submit:hover{
    background-color:  rgb(150,180,255);
}
